<%= form_with model: @booking do |b| %>
  <p>Flight: <%= @booking.flight.id %></p>
  <p>Departing: <%= @booking.flight.departure_airport.code %></p>
  <p>Arriving: <%= @booking.flight.arrival_airport.code %></p>
  <p>Number of Passengers: <%= @booking.num_passengers %></p>
    <%= b.fields_for :passengers do |p| %>
      <p>Passenger</p>
      <div class="field">
        Name
        <%= p.text_field :name %>
      </div>
      <div class="field">
        Email
        <%= p.text_field :email %>
      </div>
    <% end %>
  <%= b.hidden_field :flight_id, value: @booking.flight.id %>
  <%= b.submit %>
<% end %>