  <p>Flight: <%= @booking.flight.id %></p>
  <p>Departing: <%= @booking.flight.departure_airport.code %></p>
  <p>Arriving: <%= @booking.flight.arrival_airport.code %></p>
  <p>Number of Passengers: <%= @booking.num_passengers %></p>

  <p>Passengers:</p>
  <% @booking.passengers.each do |passenger| %>
    <div><%= passenger.name %></div>
  <% end %>